.fancy-header{
    color:blue;
}
header {
    text-align: center;
}
header {
    text-decoration: underline;
}
html {
    background-color: lightpink;
}
li {
    list-style-type: circle;
}
body {
    font-family: 'Playfair Display', serif;
}
tr {
    padding:400px;
}
td {
    padding:400px;
}
a:link {
color:yellow;
}
a:visited {
color:dodgerblue;
}
a:hover {
color:azure;
}
a:active {
color:papayawhip;
}