body {
    margin:0;
}
.blue {
    background-color: rgb(0, 35, 102);
    height:100vh;
    width:30vw;
    float:left;
    position:absolute;
}
.red {
    background-color: rgb(193,8,46);
    width:70vw;
    height:50vh;
    float: left;
    margin-top: 50vh;
}
.star {
    position: absolute;
    width: 25%;
    height:25%;
    left: 160px;
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}